body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration-line: none;
  font-style: normal;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 156px;
  margin-left: 156px;
}

/* header */

.top {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.top .container {
  display: inline-flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 332px;
}

.top .container .navigation {
  display: inline-flex;
  align-items: center;
  gap: 76px;
}

.top-list {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}

.top .adds {
  display: inline-flex;
  align-items: center;
}
.top .adds .contact {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}

.top .hover {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

.top .hover .studio {
  color: var(--NAVY-BLUE, #2e2f42);
}

.top .top-list .top-list-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.022em;
}

.top .top-list .top-list-item:hover {
  color: #404bbf;
}

.top .top-list .top-list-item:focus {
  color: #404bbf;
}

.top .contact {
  font-style: normal;
  flex-shrink: 0;
}

.top .contact .top-contact {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.021em;
}

.top .contact .top-contact:hover {
  color: #404bbf;
}

.top .contact .top-contact:focus {
  color: #404bbf;
}

/* section hero */

.hero {
  min-height: 600px;
  /* background: url(../images/bg/Dark-bg.png) center center/cover no-repeat; */
  background-color: #2e2f42;
}

.hero .container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero .title {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero .btn {
  display: block;
  margin: 0 auto;
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: var(--WHITE, #fff);
  /* Button Text */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: #404bbf;
}

/* section 1 info */
/* hidden element */

.info .invisible {
  visibility: hidden;
  height: 0;
}

.info .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.info .info-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

.info .info-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}

.info .info-list .list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.info .info-list .list-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 3 team */

.team {
  background-color: #f4f4fd;
}

.team .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team .team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team .team-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.team .team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team .team-item .discription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team .team-item .team-person {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team .team-item .team-direction {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* section portpholio 4 */

.portfolio .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .row .row-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-bottom: 32px;
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background-color: aqua;
}

.portfolio .row .row-list .discription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0 16px;
}

.portfolio .row .row-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio .row .row-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.ftr {
  /* background: url(../images/bg/Dark-bg-footer.png) center center/cover no-repeat; */
  background-color: #2e2f42;
}

.ftr .container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17.5px;
}

.ftr .ftr-a {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ftr .ftr-a .std {
  color: var(--CLOUD, #f4f4fd);
}

.ftr .ftr-p {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
